// Variables

$brand-primary: #05C1F1;
$brand-darker: #06aad5;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;

// Font Selections
$body-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: "Roboto Condensed", "Roboto", Helvetica, Arial, sans-serif;